<div class="ui container transbox">
  <fieldset>
    <legend><h2><%== @card.name + " - " + @card.get_set_icon(@card.set) + @card.set_name %></h2></legend>

    <div class='ui card-image right-float'>
    <div class="ui trans-background fluid card">
      <div class="image card-image right floated">
        <% if @card.image_uris["normal"] %>
          <img src="<%=@card.image_uris["normal"]%>", class="ui image card-image right floated">
        <% else %>
          <%= image_tag("placeholder.jpg", class: "ui image card-image" )%>
        <% end %>
      </div>
      <div class="content right floated">
        <a class="header">Market Price:</a>
        <div class="description">
          <h3><%= @card.get_price %></h3>
        </div>
      </div>

      </div>
      </div>


      <div class="ui divided left floated relaxed list width">

        <%== @card.display_attribute(@card.layout.titlecase, "Layout") %>

        <%== @card.display_attribute(@card.border_color.titlecase, "Border Color") %>

        <%== @card.display_attribute(@card.process_cmc, "CMC") %>

        <% @card.parse_type_line(@card.type_line) %>

        <%== @card.display_array_attribute(@card.scrub_colors('colors'), "Card Colors") %>

        <%== @card.display_array_attribute(@card.scrub_colors('color_identity'), "Color Identity") %>

        <%== @card.display_array_attribute(@card.scrub_colors('color_indicator'), "Color Indicator") %>

        <%== @card.display_attribute(@card.type_line, "Type") %>

        <%== @card.display_array_attribute(@card.supertypes, "Supertypes") %>

        <%== @card.display_array_attribute(@card.types, "Types", 'type') %>

        <%== @card.display_array_attribute(@card.subtypes, "Subtypes") %>

        <%== @card.display_attribute(@card.get_rarity_statement(@card.rarity), "Rarity") %>

        <%== @card.display_attribute(@card.set.upcase, "Set Code") %>

        <%== @card.display_attribute(@card.get_set_icon(@card.set), "Set Icon") %>

        <%== @card.display_attribute(@card.set_name.titlecase, "Set Name") %>

        <%== @card.display_text_attribute(@card.oracle_text, "Text") if @card.oracle_text %>

        <%== @card.display_attribute(@card.flavor_text, "Flavor", 'flavor') %>

        <%== @card.display_attribute(@card.artist.titlecase, "Artist", 'artist') %>

        <%== @card.display_attribute(@card.collector_number, "Collector Number") %>

        <%== @card.display_attribute(@card.power, "Power", 'power') %>

        <%== @card.display_attribute(@card.toughness, "Toughness", 'toughness') %>

        <%== @card.display_attribute(@card.loyalty, "Loyalty") %>

        <%== @card.display_listed_attribute(@card.compile_ids, "Card Ids", 'ids') %>

        <%== @card.display_array_attribute(@card.other_names, "Other Names") %>

        <%== @card.display_attribute(@card.mana_cost, "Mana Cost", 'mana_cost') %>

        <%== @card.display_array_attribute(@card.variations, "Variations") %>

        <%== @card.display_listed_attribute(@card.image_uris, "Images", 'images') %>

        <%== @card.display_attribute(@card.watermark, "Watermark", 'watermark') %>

        <%== @card.display_attribute(@card.border_color.titlecase, "Border") %>

        <%== @card.display_attribute(@card.hand_modifier, "Hand") %>

        <%== @card.display_attribute(@card.life_modifier, "Life") %>

        <%== @card.display_attribute(@card.reserved.to_s.titlecase, "Reserved", 'reserved') %>

        <%== @card.display_attribute(@card.life_modifier, "Life") %>

        <%== @card.display_attribute(@card.released_at, "Release Date", 'date') %>

        <%== @card.display_listed_attribute(@card.rulings, "Rulings", 'rulings') %>

        <%== @card.display_listed_attribute(@card.original_text, "Original Text", 'text') if @card.original_text %>

        <%== @card.display_attribute(@card.original_type, "Original Type") %>

        <%== @card.display_listed_attribute(@card.legalities, "Legalities", 'legalities') %>

        <%== @card.display_attribute(@card.foil.to_s.titlecase, "Foil Printed") %>

        <%== @card.display_attribute(@card.nonfoil.to_s.titlecase, "Non-Foil Printed") %>

        <br/>

         <%=link_to button_tag("Back to Index", class: "ui circular button primary"), user_cards_path%>
    </fieldset>
  </div>
</div>
