<span>
  <fieldset style="display:block" >
    <legend><h2><%=@user.name%>: </h2></legend>

      <h3>Decks: <%= @user.decks.length %></h3>

      <div id="deck-toggle-buttons">
        <button id="toggle_decks" onclick="getDecks()" data-id="<%= @user.id %>">View Decks</button>
      </div>

      <div id="user_decks"></div>

      <h3> Cards: <%= @user.user_cards.length %></h3>

      <div id="card-toggle-buttons">
        <button id="toggle_cards" onclick=getCards() data-id="<%= @user.id %>">View Cards</button>
      </div>

      <div id="user_cards"></div>

  </fieldset>
</span>
