<fieldset>
  <legend><h2><%=@user.name.titlecase%>: </h2></legend>

  <%=link_to button_tag("Edit Profile"), edit_user_path(@user) %>

  <br/><br/>

  <fieldset>
    <h4><%=link_to button_tag("View My Decks"), decks_path %></h4>

    <%@user.decks.each do |deck| %>
      <%= link_to deck.name, deck_path(deck)%> </br>
    <%end %>

    <h4><%=link_to button_tag("View My Cards"), user_cards_path %></h4>
  </fieldset>

</fieldset>
