<div class="ui container" id="cards-container">
  <% @cards.each do |card| %>
    <fieldset>
      <legend><h2><%= card.magic_card_name%>
        <% if update_delete_buttons %>
          <%=button_to "View Details", magic_card_path(card.magic_card_id), method: "get", form: { style: "display:inline-block"}, class: "ui circular button teal" %>
          <%=button_to "Edit", edit_user_card_path(card), method: "get", form: { style: "display:inline-block"}, class: 'ui circular button teal' %>
          <%=button_to "Delete", card, :method => :delete, form: { style: "display:inline-block"}, class: 'ui circular button teal' %>
        <% end %></h2>
      </legend>

      <div class="ui right floated">
        <% magic_card = MagicCard.find_by(id: card.magic_card_id) %>
        <% if magic_card && magic_card.image_uris['normal'] %>
          <img alt="<%= magic_card.name %>" src="<%= magic_card.image_uris['normal']%>", class="ui right floated image card-image">
        <% else %>
          <%= image_tag("placeholder.jpg", class: "ui right floated image card-image", alt: "Placeholder Card" )%>
        <% end %>
      </div>

      <div class="ui divided left floated relaxed list width3">

        <div class="ui item">
          <br/>

          <h4>Quantity: <%= card.quantity %></h4>

          <br/>
        </div>

        <div class="ui item">
          <br/>
            <h4>Value(s): <%= card.value %></h4>
          <br/>
        </div>

        <div class="ui item">
          <br/>
            <h4>Quality: <%= card.quality %></h4>
          <br/>
        </div>

      </div>

    </fieldset>

    <br/>

  <% end %>
</div>
