<div id="cards-container">
  <% @cards.each do |card| %>
    <fieldset>
      <legend><h3><%= card.magic_card_name%>
        <% if update_delete_buttons %>
          <%=button_to "View Details", magic_card_path(card.magic_card_id), method: "get", form: { style: "display:inline-block"}, class: "ui circular button teal" %>
          <%=button_to "Edit", edit_user_card_path(card), method: "get", form: { style: "display:inline-block"}, class: 'ui circular button teal' %>
          <%=button_to "Delete", card, :method => :delete, form: { style: "display:inline-block"}, class: 'ui circular button teal' %>
        <% end %></h3>
      </legend>

      <% if MagicCard.find_by(id: card.magic_card_id).image_url %>
        <img src="<%=MagicCard.find(card.magic_card_id).image_url%>", class="ui right floated image card-image">
      <% else %>
        <%= image_tag("placeholder.jpg", class: "ui right floated image card-image" )%>
      <% end %>

      <br/>

      <div class="ui teal compact message">
          <strong>Quantity: </strong><%= card.quantity %>
      </div>

      <br/><br/>

      <div class="ui teal compact message">
          <strong>Value(s): </strong><%= card.value %>
      </div>

      <br/><br/>

      <div class="ui teal compact message">
          <strong>Quality: </strong><%= card.quality %>
      </div>

    </fieldset>

    <br/>

  <% end %>
</div>
