<%= form_for @card do |f| %>

  <br/>

  <% if MagicCard.find_by(id: @card.magic_card_id) != nil && MagicCard.find_by(id: @card.magic_card_id).image_url %>
    <img src="<%=MagicCard.find(@card.magic_card_id).image_url%>", class="ui right floated image card-image">
  <% else %>
    <% if editing %>
      <%= image_tag("placeholder.jpg", style: "float:right" )%>
    <% end %>
  <% end %>

  <div class="ui labeled input">
    <div class="ui label">
      Card Name:
    </div>
    <%= f.text_field :magic_card_name, list: 'card-name', readonly: editing ? true : nil %>
  </div>

  <datalist id="card-name">
    <% MagicCard.pluck(:name, :setname).map do |card| %>
      <option value="<%=card[0] + " - " + card[1] %>"></option>
    <% end %>
  </datalist>

  </br></br>

  <div class="ui labeled input">
    <div class="ui label">
      Quantity:
    </div>
    <%= f.number_field :quantity%>
  </div>

  </br></br>

  <div class="ui labeled input">
    <div class="ui label">
      Value of each card:
    </div>
    <%= f.text_area :value%>
  </div>

  </br></br>

  <div class="ui labeled input">
    <div class="ui label">
      Quality of each card:
    </div>
    <%= f.text_area :quality%>
  </div>

  </br></br>

  <%= f.submit editing ? "Submit" : "Add Card", :id => "card_submit", :autocomplete => "off", :class => "ui circular button primary" %>
<% end %>
