<%= form_for @card do |f| %>
  <%= f.label :magic_card_name, "Card Name:" %>
  <%= f.text_field :magic_card_name, list: 'card-name', readonly: editing ? true : nil %>
  <datalist id="card-name">
    <% MagicCard.all.each do |card| %>
      <option value="<%=card.name + " - " + card.setname%>"></option>
    <% end %>
  </datalist>

  </br></br>

  <% if MagicCard.find_by(id: @card.magic_card_id) != nil && MagicCard.find_by(id: @card.magic_card_id).image_url %>
    <img src="<%=MagicCard.find(@card.magic_card_id).image_url%>", style="float:right">
  <% else %>
    <% if editing %>
      <%= image_tag("placeholder.jpg", style: "float:right" )%>
    <% end %>
  <% end %>

  <%= f.label :quantity, "Quantity:" %>
  <%= f.number_field :quantity%>

  </br></br>

  <%= f.label :value, "Describe the value of each card" %>:
  </br>
  <%= f.text_area :value%>

  </br></br>

  <%= f.label :quality, "Describe the quality of each card" %>:
  </br>
  <%= f.text_area :quality%>

  </br></br>

  <%= f.submit editing ? "Submit" : "Add Card"%>
<% end %>
