<fieldset>
  <legend><h2><%=current_user.name.titlecase%>'s Cards: </h2></legend>

    <%= render partial: "user_card_errors"%>

    <fieldset>
      <legend><h2>Add a new card to your Account: </h2></legend>

      <%= render partial: "user_card_form", locals: {editing: false}%>

    </fieldset>


    <br/><br/>

    <%= form_tag(user_user_cards_path(current_user), method: "get") do %>

      <%= label_tag(:card_type, "Filter cards by type:") %>
      <%= select_tag(:card_type, options_for_select(MagicCard.types, params[:card_type]), :prompt => "All")%>

      <%=submit_tag("Filter") %>

    <% end %>

    <br/> <br/>

    <%= render partial: "user_cards/index_list", locals: {update_delete_buttons: true} %>

</fieldset>
