<fieldset>
  <legend><h2><%=@user.name.titlecase%>'s Decks: </h2></legend>

    <%= render partial: "new_deck_submit_form"  %>

    <br/> <br/>

  <%@user.decks.each do |deck| %>
    <fieldset>
      <legend><h4><%= deck.name%>
        <%=button_to "View Details", user_deck_path(@user, deck), method: "get", form: { style: "display:inline-block"} %>
      </h4></legend>

      <p>
        <%= "Format: #{deck.format}" %> <br/>
        <%= "Cards: #{deck.deck_cards.count}" %>
      </p>
    </fieldset>

    <br/>

  <%end %>
</fieldset>
