<!DOCTYPE html>
<html>
  <head>
    <title>Magic Manager Pro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <div style="float:right;display:inline">
        <%= render partial: "./logout_button"%>
        <%= link_to button_tag("Profile Page"), user_path(current_user), :style => "float: right;" %>
      </div>
    <% end %>

    <% if flash[:error] %>
      <p id="notice"><%= flash[:error] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
