<!DOCTYPE html>
<html>
  <head>
    <title>Magic Manager Pro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <!-- <background="<%= asset_path 'MTG-background.jpg' %>" -->
    <% if logged_in? %>
      <div>
        <%= render partial: "./logout_button"%>
        <%= link_to button_tag("hidden"), "", :style => "visibility:hidden;" %>
        <%= link_to button_tag("Decks Index"), user_decks_path(current_user), :style => "float:right; display:inline-block;" %>
        <%= link_to button_tag("Cards Index"), user_user_cards_path(current_user), :style => "float: right; display:inline-block;" %>
        <%= link_to button_tag("Profile Page"), user_path(current_user), :style => "float: right; display:inline-block;" %>
      </div>
    <% end %>

    <% if flash[:error] %>
      <p id="notice"><%= flash[:error] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
