<!DOCTYPE html>
<html>
  <head>
    <title>Magic Manager Pro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %> landing-image">
    <% if logged_in? %>
      <div class="transbox-nav-bar">
        <div class="ui secondary five item menu padding10">
          <div class="item"><%= link_to button_tag("MY DECKS", class: 'ui large circular inverted button green'), user_decks_path(current_user) %></div>
          <div class="item"><%= link_to button_tag("MY CARDS", class: 'ui large circular inverted button green'), user_user_cards_path(current_user) %></div>
          <div class="item"><%= link_to button_tag("CARDS INDEX", class: 'ui large circular inverted button green black-background'), magic_cards_path() %></div>
          <div class="item"><%= link_to button_tag("MY PROFILE", class: 'ui large circular inverted button green'), user_path(current_user)%></div>
          <%= render partial: "./logout_button"%>
        </div>
      </div>

      <br/><br/>
    <% end %>

    <% if flash[:error] %>
      <div class="ui error message">
        <div class="header">
          There was an error:
        </div>
        <ul class="list">
          <li><%= flash[:error] %></li>
        </ul>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
